:root {
  --primary-clr: #f8f0df;
  --primary-clr-alt: #fefbf3;
  --secondary-clr: #79b4b7;
  --secondary-clr-tint: #bcdadb;
  --f-clr: #444;
  --fs-big: 7rem;
  --fs-med: 3rem;
  --fs-small: 2rem;
  --fw-bold: 700;
  --fw-med: 500;
  --fw-regt: 400;
  --brd-rd-lrg: 3rem;
  --brd-rd-med: 2rem;
  --fs-h2: 4.5rem;
  --shadow-lrg: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

[data-mode="dark"] {
  --primary-clr: #03506f;
  --primary-clr-alt: #222;
  --secondary-clr: #fde5cd;
  --secondary-clr-tint: #fef4e9;
  --f-clr: #fefbf3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
  line-height: 1.6;
  color: var(--f-clr);
  font-family: "Roboto", sans-serif;
}

.btn {
  text-transform: uppercase;
  font-family: inherit;
  cursor: pointer;
  border: none;
}
.section-headline {
  padding-top: 8rem;
  font-size: var(--fs-h2);
  text-transform: uppercase;
  text-decoration: underline 7px var(--secondary-clr);
  text-underline-offset: 3px;
}

/* HERO SECTION */
.hero-section {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--primary-clr);
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20rem;
  transition: all 0.3s;
}

/* --main header */
.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.main-header-text {
  font-size: var(--fs-big);
  text-transform: uppercase;
  font-weight: var(--fw-bold);
}
.main-header-subtext {
  width: 45vw;
  font-size: var(--fs-med);
  font-weight: var(--fw-med);
}

.header-btn {
  margin-top: 15rem;
  padding: 1rem 2rem;
  border-radius: var(--brd-rd-lrg);
  background: var(--secondary-clr);
  color: var(--primary-clr);
  font-weight: var(--fw-bold);
  font-size: 3.5rem;
  letter-spacing: 1.6px;
  transition: all 0.5s;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
.header-btn:hover {
  background: var(--primary-clr);
  color: var(--secondary-clr);
  box-shadow: inset 0 0 0 0.4rem var(--secondary-clr);
}
.header-btn:active {
  transform: scale(0.9);
}

/* --circles + img */
.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
}
.main-circle {
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--secondary-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.image-container::after {
  content: "";
  height: 33vw;
  width: 33vw;
  background-color: var(--secondary-clr-tint);
  border-radius: 50%;
  position: absolute;
  /* opacity: 50%; */
}

.header-img {
  width: 90%;
  border-radius: 50%;
}

/***************************************/
/* LIGHT-DARK SWITCH */
/***************************************/

.switch-container {
  position: fixed;
  top: 2rem;
  right: 3rem;
}
.switch {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  display: inline-block;
  cursor: pointer;
}
.switch--input {
  display: none;
}

.switch-background {
  position: relative;
  height: 2rem;
  width: 4rem;
  border-radius: 1rem;
  background-color: rgb(220, 220, 220);
  transition: all 0.25s;
}
.switch--input:checked ~ .switch-background {
  background: var(--secondary-clr-tint);
}

.switch-background::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 2rem;
  width: 2rem;
  background-color: bisque;
  border-radius: 50%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  transition: all 0.25s;
}

.switch--input:checked ~ .switch-background::after {
  transform: translateX(2rem);
}

/***************************************/
/* SLIDER SECTION */
/***************************************/
.slider-headline {
  margin: 0 0 6rem 4rem;
}
.arrivals-section {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--primary-clr-alt);
  padding-bottom: 9.6rem;
}

.slider {
  max-width: 90rem;
  height: 50rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 4rem;
}
.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: transform 0.8s;
  border-radius: 4rem;
  overflow: hidden;
  background: none;
}
.slide > img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
}

/* buttons */
.btn-slider {
  background: none;
  z-index: 10;
  color: #fff;
}
.btn-slider:hover {
  color: var(--secondary-clr);
}
.btn-left {
  position: absolute;
  top: 50%;
  left: 0.5%;
  transform: translateY(-50%);
}
.btn-right {
  position: absolute;
  top: 50%;
  right: 0.5%;
  transform: translateY(-50%);
}
.btn-icon {
  font-size: 5rem;
}

/* DOTS */
.dots {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
}
.dots-dot {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border: 2.5px solid #fff;
}

.dots-dot-active {
  background-color: #fff;
}

/***************************************/
/* BEST SELLERS SECTION */
/***************************************/

.best-headline {
  padding-top: 6rem;
  margin-bottom: 4rem;
  text-align: center;
}
.best-section {
  border-top: 1px solid var(--secondary-clr-tint);
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--primary-clr-alt);
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}
.gallery-item {
  position: relative;
  height: 70vh;
  width: 25vw;
}
/* vertical line */
.gallery-item::after {
  content: "";
  position: absolute;
  height: 0;
  /* height: 80%; */
  width: 0.2rem;
  background-color: var(--f-clr);
  top: 5%;
  right: 12%;
  transition: height 0.6s;
  z-index: 10;
}
/* horizontal line */
.gallery-item::before {
  content: "";
  position: absolute;
  width: 0;
  /* width: 85%; */
  height: 0.2rem;
  background-color: var(--f-clr);
  top: 12%;
  right: 5%;
  transition: width 0.6s;
  z-index: 10;
}

.gallery-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: 0.4rem 0.4rem 0.1rem var(--secondary-clr),
    0.8rem 0.8rem 0.1rem var(--secondary-clr-tint);
  border-radius: 3rem;
  transition: all 0.5s;
}
.gallery-title {
  position: absolute;
  top: 2rem;
  left: 4rem;
  color: var(--f-clr);
  text-transform: uppercase;
  font-size: 2rem;
  opacity: 0;
  transition: all 0.5s;
}
.gallery-description {
  position: absolute;
  width: 80%;
  bottom: 50%;
  left: 4rem;
  color: var(--f-clr);
  text-transform: uppercase;
  font-size: 1.8rem;
  opacity: 0;
  transition: opacity 0.5s;
}
/* HOVER EFFECT FOR GALLERY */

/* Showing lines */
.gallery-item:hover::after {
  height: 80%;
}
.gallery-item:hover::before {
  width: 85%;
}

.gallery-item:hover .gallery-description {
  opacity: 100;
}
.gallery-item:hover .gallery-title {
  opacity: 100%;
}
.gallery-item:hover .gallery-img {
  filter: blur(0.5rem);
  opacity: 30%;
  box-shadow: 1rem 1rem 0.1rem var(--secondary-clr),
    2rem 2rem 0.1rem var(--secondary-clr-tint);
}

/***************************************/
/***************************************/
